:root {
  --red: #eb1044;
  --purple: #1a0040;
  --darkerpurple: #12002c80;
  --niceblack: rgb(4, 0, 78);
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; 
*/
* {
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: var(--red);
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--darkerpurple);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

body {
  /* background-color: #1a0040; */
  background-image: url('backimage.png');
  background-color: var(--niceblack);
}
.wrap {
  background-image: url('backimage.png');
  mix-blend-mode: luminosity;
}
/* #head_bar_image {
  visibility: hidden;
  position: absolute;
  top: -40px;
  z-index: -1;
  width: 100%;
} */
.section__header {
  /* background-color: var(--niceblack); */
  background-color: var(--niceblack);
  display: flex;
  justify-content: first baseline;
  opacity: 1;
  transition: 0.3s;
}

.section__header:hover {
  box-shadow: 10px 10px 10px 10px #00000071;
  /* animation: header 1s cubic-bezier(1, 0, 0, 1) infinite; */
}

/* .section__header #krnd {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  user-select: none;
  margin-left: 20px;
  animation: blinker 0.5s ease-in-out;
} */

.section__header #logo1 {
  position: relative;
  width: 100px;
  margin-left: 20px;
  animation: blinker 0.5s ease-in-out;
}

#krnd:hover {
  /* background-color: var(--purple); */
  color: white;
}

#krndin {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
}

header {
  margin: 10px;
  padding: 5px;
}

.section__content {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.section__content article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__content .h1__div {
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
}

.section__img {
  /* background-color: #eb1043; */
  /* background: linear-gradient(
    45deg,
    rgba(235, 16, 68, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.section__img #img1 {
  margin: 10px;
  filter: opacity(0.5);
  width: 250px;
  mix-blend-mode: luminosity;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-keygen-select {
  background-color: var(--red);
}

.section__para {
  display: flex;
  justify-content: space-evenly;
}
.section__content #p1 {
  font-family: 'Roboto Mono', monospace;
  margin: 10px;
  text-indent: 50px;
  width: 50%;
  color: white;
  line-height: 1.3rem;
}
