:root {
  --red: #eb1044;
  --purple: #1a0040;
  --darkerpurple: #12002c80;
  --niceblack: rgb(4, 0, 78);
  --niceblack2: rgb(179, 175, 255);
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; 
*/
* {
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: var(--red);
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--darkerpurple);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

body {
  /* background-color: #1a0040; */
  /* background-image: url('backimage.png'); */
  background-color: var(--niceblack);
}
.wrap {
  background-color: var(--niceblack);
  background-image: url('backimage.png');
}

.section__header {
  /* background-color: var(--niceblack); */
  display: flex;
  margin: 10px;

  flex: 1;
}
a {
  margin: 0px;
  text-decoration: none;
}
.section__header #h1_header {
  color: white;
  text-decoration-color: var(--red);
  margin: 40px 60px;
  font-size: 30px;
}

.section__header #logo1 {
  margin: 10px;
  width: 70px;
  animation: blinker 0.5s ease-in-out;
}
header .img2head {
  position: absolute;
  width: 200px;
}

#krnd:hover {
  /* background-color: var(--purple); */
  color: white;
}

#krndin {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
}

header {
  margin: 10px;
  padding: 5px;
}

.section__content {
  display: flex;
  justify-content: center;
  margin: 0px 50px;
}

.section__content article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__content .h1__div {
  margin: 20px;
  color: white;
}
.section__content #serial {
  user-select: none;
  margin: 10px 0;
  font-size: x-small;
  color: var(--niceblack2);
}

.section__content #redshade {
  background-color: var(--red);
}

.section__img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background-color: #eb1043; */
  /* background: linear-gradient(
    45deg,
    rgba(235, 16, 68, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.section__img #img2 {
  margin: 10px;
  filter: opacity(0.5);
  width: 400px;
  mix-blend-mode: luminosity;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-keygen-select {
  background-color: var(--red);
}

.section__para {
  background: rgba(2, 0, 46, 0.767);
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__para #img__para1 {
  width: 250px;
  height: 250px;
  filter: opacity(0.5);
  mix-blend-mode: luminosity;
  margin: 20px;
  padding: 20px;
}

.para__img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section__para #img1 {
  margin: 10px;
  filter: opacity(0.5);
  width: 250px;
  mix-blend-mode: luminosity;
  user-select: none;
  -webkit-user-drag: none;
}
.section__content #p1,
.section__content #p2 {
  /* background: rgba(2, 0, 46, 0.767); */
  font-family: 'Roboto Mono', monospace;
  margin: 10px;
  padding: 10px;
  text-indent: 50px;
  width: 50%;
  color: white;
  line-height: 1.3rem;
}

#section__lower {
  position: relative;
  z-index: 2;
  padding: 200px 0;
  background: var(--niceblack);
  color: white;
}
#section__lower p {
  margin: 0 80px;
}

.section__content_2 {
  justify-content: space-between;
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.section__content_2 .img__flex {
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__content_2 #spaceinv {
  width: 200px;
  opacity: 0.5;
  mix-blend-mode: luminosity;
}
