:root {
  --red: #eb1044;
  --purple: #1a0040;
  --darkerpurple: #12002c80;
  --niceblack: rgb(4, 0, 78);
  --niceblack2: rgb(179, 175, 255);
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; 
*/
* {
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 14px;
}

::selection {
  background-color: var(--red);
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--darkerpurple);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

body {
  /* background-color: #1a0040; */
  /* background-image: url('backimage.png'); */
  /* background-color: var(--niceblack); */
}

.section__content1 {
  background-color: var(--niceblack);
  background-image: url('backimage.png');
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}

.section__header .nav {
  position: relative;
  top: 5px;
  right: 50px;
}

.nav1 {
  display: none;
}

.section__header #h1_header {
  position: relative;
  color: white;
  padding: 10px 60px;
  top: 10px;
  text-decoration-color: var(--red);
  font-size: 30px;
}

.section__header #logo1 {
  margin: 10px;
  width: 70px;
  animation: blinker 0.5s ease-in-out;
}

header .img2head {
  position: absolute;
  width: 200px;
}

#krnd:hover {
  /* background-color: var(--purple); */
  color: white;
}

#krndin {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
}

header {
  margin: 10px;
  padding: 5px;
}

.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
}

.section__content #article1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__content #article2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__content .h1__div {
  margin: 20px;
  color: white;
}
.section__content #serial {
  user-select: none;
  margin: 10px 0;
  font-size: x-small;
  color: var(--niceblack2);
}

.section__content #redshade {
  background-color: var(--red);
}

.section__img #img2 {
  margin: 10px;
  filter: opacity(0.5);
  width: 400px;
  mix-blend-mode: luminosity;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-keygen-select {
  background-color: var(--red);
}

.section__para1 {
  background: rgba(2, 0, 46, 0.767);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .section__para1 h3 {
  color: white;
} */
.section__para1_inside {
  display: flex;
  flex-direction: column;
}
.section__para2 {
  background: rgba(2, 0, 46, 0.767);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__para1 #img__para1 {
  width: 250px;
  height: 250px;
  filter: opacity(0.5);
  user-select: none;
  -webkit-user-drag: none;
  mix-blend-mode: luminosity;
  margin: 20px;
  padding: 20px;
}
.section__para2 #img__para2 {
  width: 250px;
  height: 250px;
  filter: opacity(0.5);
  user-select: none;
  -webkit-user-drag: none;
  mix-blend-mode: luminosity;
  margin: 20px;
  padding: 20px;
}

.para__img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section__content #p1,
.section__content #p2 {
  /* background: rgba(2, 0, 46, 0.767); */
  font-family: 'Roboto Mono', monospace;
  margin: 10px;
  padding: 10px;
  text-indent: 50px;
  width: 50%;
  color: white;
  line-height: 1.3rem;
}

#section__mid {
  position: relative;
  z-index: 2;
  padding: 30px;
  background: var(--niceblack);
  color: white;
  transition: 0.5s;
}
#section__mid:hover {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.438);
}
#section__mid p {
  margin: 0 80px;
  width: 50%;
}

.section__content_2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  row-gap: 3rem;
  align-items: center;
}

.section__content_2 #button1 {
  border: 0;
  padding: 5px 20px;
}

#button1:hover {
  color: rgb(0, 0, 0);
  background: lightgray;
}
#button1:active {
  color: black;
  background: var(--red);
}

.section__content_3 {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: center;
  column-gap: 30rem;
  align-items: center;
  color: white;
  background: var(--darkerpurple);
}
.section__content_3 #p1 {
  margin: 10px;
  padding: 10px;
}
#section__lower {
}

@media (max-width: 1024px) {
  .section__para1 img,
  .section__para2 img {
    display: none;
  }
  .section__content #p1,
  .section__content #p2 {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .section__header .nav {
    display: none;
  }
  .section__header .nav1 {
    display: block;
    margin-right: 50px;
  }
}
